<p id="notice"><%= notice %></p>
<% if current_user.email == "admin@skyblue.com"  %>
  <p><u> Role: Admin </u></p>
<%else %>
  <p><b> Role : User </b></p>
<%end  %>

<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Reservation ID</th>
      <th>Flight ID</th>
      <th>No of Passengers</th>
      <th>Cost</th>
      <th>Ticket Class</th>
      <th>Amenities</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><center><%= reservation.id %></center></td>
        <td><center><%= reservation.flight_id %></center></td>
        <td><center><%= reservation.no_of_passengers %></center></td>
        <td><center><%= reservation.cost %></center></td>
        <td><center><%= reservation.ticket_class %></center></td>
        <td><center><%= reservation.amenities %></center></td>
        <td><center><%= link_to 'Show', reservation %></center></td>
        <td><center><%= link_to 'Edit', edit_reservation_path(reservation, :flight_id =>  reservation.flight_id ) %></td>
        <td><center><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'home', root_path %>
